<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

    <body id="htmlbody">
        <div class="inner-container">
            <%- include('./partials/header.ejs') %>
        
        <div class="create-note content">
    <form action="/" method="POST">
        <label class="label label1">Note title:</label>
        <input type="text" id="title" name="title" required>
        <label class="label label1">Note snippet:</label>
        <input type="text" id="snippet" name="snippet" maxlength="180" required>
        <label class="label label">Note body:</label>
        <textarea id="body" name="body" maxlength="500" required></textarea>
        <button type="submit" style="text-align: center;">Submit</button>
    </form>
        </div>
        </div>

        <%- include('./partials/footer.ejs') %>
        
        <script>
            function darkMode(){
            if(document.getElementById("htmlbody").classList.contains('htmlbody2')){
            document.getElementById("htmlbody").classList.remove('htmlbody2'); 
            document.getElementById("htmlbody").classList.add('htmlbody1'); 
        }else{
        document.getElementById("htmlbody").classList.remove('htmlbody1');  
        document.getElementById("htmlbody").classList.add('htmlbody2');
            
          }

          if(document.getElementById("txt").classList.contains('txt2')){
            document.getElementById("txt").classList.remove('txt2'); 
            document.getElementById("txt").classList.add('txt1'); 
        }else{
        document.getElementById("txt").classList.remove('txt1');  
        document.getElementById("txt").classList.add('txt2');
            
          }

        }
        </script>
    </body>

</html>