<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <!-- Custom css -->
    <link rel="stylesheet" href="/styles.css">
    <title>Notes | <%=title%></title>
</head>
<body>
    <div class="container">
        <div class="inner-container">
          <div class="header">
            <h1>Notes</h1>
            <a href="/create">New note</a>
          </div>
          <div class="search">
            <i class="fa-thin fa-magnifying-glass"></i>
            <input type="text" name="search">
          </div>
          <div class="notes">
            <div class="note">
                <p class="title">Good morning</p>
                <p class="snippet">Hello there, today I am looking forward to ... </p>

                <div class="meta">
                    <p class="date">12/12/12</p>
                    <i class="fa-solid fa-trash-can"></i>
                </div>
                </div>

                <div class="note">
                    <p class="title">Good morning</p>
                    <p class="snippet">Hello there, today I am looking forward to ... </p>
    
                    <div class="meta">
                        <p class="date">12/12/12</p>
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>

                <div class="note">
                    <p class="title">Good morning</p>
                    <p class="snippet">Hello there, today I am looking forward to ... </p>
    
                    <div class="meta">
                        <p class="date">12/12/12</p>
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>

                <div class="note">
                    <p class="title">Good morning</p>
                    <p class="snippet">Hello there, today I am looking forward to ... </p>
    
                    <div class="meta">
                        <p class="date">12/12/12</p>
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>

                <div class="note">
                    <p class="title">Good morning</p>
                    <p class="snippet">Hello there, today I am looking forward to ... </p>
    
                    <div class="meta">
                        <p class="date">12/12/12</p>
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>


               
            </div>
          </div>
        </div>

</body>
</html>