@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cedarville+Cursive&family=Poppins&family=Sue+Ellen+Francisco&display=swap');@import url('../node_modules/font-awesome/css/font-awesome.min.css');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins';
   
}
.inner-container{
    width: 90%;
    margin: auto;
}
.title, .snippet {
    font-family: 'Caveat';
    font-weight: ;
    font-size: 18px;
    text-decoration: none;

}
.header{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 80px;
}
.header a{
    margin: auto 2px;
}
.search{
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}
.search input{
    width: 60%;
    height: 30px;
    border-radius: 10px;
    margin: auto;
}


.notes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.note{
    height: 250px;
    width: 300px;
    overflow: hidden;
    border: 3px solid #eee;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
    transition: 0.6s;	
    padding: 8px;
    position: relative;
    background-color: #FFFF99;
    border-top-left-radius: 35px;
}

.note:hover{
    transform: scale(1.01);
    cursor: pointer;
}
.newNote{
    position: fixed;
    bottom: 8%;
    right: 5%;
    z-index: 10;
    
}
.darkMode{
    position: fixed;
    top: 8%;
    right: 5%;
    z-index: 10;
}
.date{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 5px;
}

@media screen and (max-width:720px){
    .search input{
        width: 98%;
    }
    
}


/*  create page  */
.create-note form{
    max-width: 400px;
    margin: 0 auto;
}
.create-note input, .create-note textarea{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px
}
.create-note label{
    display: block;
    margin-top: 24px;
}
textarea{
    height: 120px;
}
.create-note button{
    margin-top: 20px;
    background-color: tomato;
    color: white;
    padding: 6px;
    border:0;
    font-size: 1.2rem;
    cursor: pointer;
}

